#slider ul li:first-child{
-webkit-animation: move1 10s linear infinite; 
-moz-animation: move1 10s linear infinite; 
}

#slider ul li:nth-child(2){
-webkit-animation: move2 10s linear infinite; 
-moz-animation: move2 10s linear infinite; 
}

#slider ul li:last-child{
-webkit-animation: move3 10s linear infinite; 
-moz-animation: move3 10s linear infinite; 
}

@-webkit-keyframes move1 {
0%  { left: 0px; } 
29% { left: 0px; opacity:1; z-index:0; }
33% { left: 930px; opacity: 0; z-index: 0; } 
34% { left: -930px; opacity: 0; z-index: -1; } 
92% { left: -930px; opacity: 0; z-index: 0; }
99% { left: 0px; opacity: 1; }
100%{ left: 0px; opacity: 1; }
}

@-webkit-keyframes move2 {
0%  { left: -930px; opacity: 0; } 
29% { left: -930px; opacity:0; }
33% { left: 0px; opacity: 1; }
62% { left: 0px; opacity: 1; z-index: 0; }  
66% { left: 930px; opacity: 0; z-index: 0; }
67% { left: -930px; opacity: 0; z-index: -1; }  
100%{ left: -930px; opacity: 0; z-index: -1; }
}

@-webkit-keyframes move3 {
0%  { left: -930px; opacity: 0; }
62% { left: -930px; opacity: 0; }
66% { left: 0px;opacity: 1; z-index: 0; }
94% { left: 0px; opacity: 1; } 
99% { left: 930px; opacity: 0; z-index: 0; }
100%{ left: -930px; opacity: 0; z-index: -1; }
}

@-moz-keyframes move1 {
0%  { left: 0px; } 
29% { left: 0px; opacity:1; z-index:0; }
33% { left: 930px; opacity: 0; z-index: 0; } 
34% { left: -930px; opacity: 0; z-index: -1; } 
92% { left: -930px; opacity: 0; z-index: 0; }
99% { left: 0px; opacity: 1; }
100%{ left: 0px; opacity: 1; }
}

@-moz-keyframes move2 {
0%  { left: -930px; opacity: 0; } 
29% { left: -930px; opacity:0; }
33% { left: 0px; opacity: 1; }
62% { left: 0px; opacity: 1; z-index: 0; }  
66% { left: 930px; opacity: 0; z-index: 0; }
67% { left: -930px; opacity: 0; z-index: -1; }  
100%{ left: -930px; opacity: 0; z-index: -1; }
}

@-moz-keyframes move3 {
0%  { left: -930px; opacity: 0; }
62% { left: -930px; opacity: 0; }
66% { left: 0px;opacity: 1; z-index: 0; }
94% { left: 0px; opacity: 1; } 
99% { left: 930px; opacity: 0; z-index: 0; }
100%{ left: -930px; opacity: 0; z-index: -1; }
}