/** {
	font-family: sans-serif;
}*/

li {
	list-style: none;
}

body {
 background:url(../img/body_bg.jpg);  
 font-family: Arvo;
 text-align: justify;
 line-height: 1.3em;
 height: 100%;
 width: 100%;
}

a{
	text-decoration: none;
}
input[type=text],input[type=email],textarea{
	font-family: Arvo;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	border: 1px solid #DDDDDD;
}
input[type=text]:focus, input[type=email]:focus, textarea:focus{
	box-shadow: 0 0 2px rgba(81,203,208,1);
	border: 1px solid rgba(81,203,208,1);
}

#slider {
background: #000;
border: 5px solid #eaeaea;
width: 98.5%;
height: 260px;
float: left;
box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
overflow:hidden;
position: relative;
z-index: 0;
}

#slider ul{
margin: 0px;
padding: 0px;
position: relative;
z-index: 0;
}

#slider ul li {
height: 100%;
width: 100%;
position: absolute;
list-style: none;
float: left;
z-index: 0;
}

#container {             
	width:940px;     
	margin: 0 auto; 
	padding: 10px;
	margin-top: 50px;   
}

#login{
	background-color: #55B05A;
	height: 50px;
	left: 0;
	right: 0;
	top: 0;
	position: fixed;
	padding-right: 80px;
	z-index: 100;
}

#formlogin{
	box-shadow: 0 0 2px 2px #5BA16D;
	background: rgba(0, 10, 10, 0.8);
	clear: both;
	right: 0;
 	float: right;
 	position: fixed;
 	margin-right: 30px;
 	z-index: 10;
 	color: white;
}

#formlogin table td{
	padding: 6px;
}

#formlogin input{
	height: 30px;
}


#signup {
	height: 30px;
	width: 80px;
}

button[id=signup]{
	border-style: none;
	background: green;
	border-radius: 5px;
	color: #FFFFCC;	
	width: 80px;
	cursor: pointer;
}


input[name=login]{
	border-style: none;
	background: green;
	border-radius: 5px;
	color: #FFFFCC;	
	width: 80px;
	cursor: pointer;
}

input[name=pass]{
	border-style: none;
	border-radius: 2px;
	width: 100px;
	
}
input[name=name]{
	border-style: none;
	border-radius: 2px;
	width: 100px;
	
}
#search{
	width: 100px;
	border-radius: 4px;
	border-style: none;
	height: 30px;
	margin-left: 5px;
}

#login a{
		
	float: right;
	/*margin-right: 70px;*/
	padding: 7px;
	margin-top: 9px;
	color: black;
	border-radius: 3px;
}

#login a img{
	margin-top: -18px;
	margin-right: 10px;	
	height: 40px;
	float: right;
	padding: 7px;
}

#login button{
	font-size: 12pt;
	text-decoration: none;
	float: right;
	margin-left: 30px;
	margin-right: 70px;
	padding: 7px;
	margin-top: 7px;
	color: black;
	border-radius: 3px;
	border-style: none;
	background: #55B05A;
	cursor: pointer;

}

#login span{
	font-size: 12pt;
	text-decoration: none;
	float: right;
	margin-left: 30px;
	margin-right: 20px;
	padding: 7px;
	margin-top: 9px;
	color: black;
}

#login a:hover{
	border-radius: 5px;
	color: #FFFFCC;
}

#icon{
	float: left;
	margin-left: 50px;
}

#search-site-q {
	float: left;
	padding-top: 7px;
	margin-left: 50px;
}

#search-site-q input{
	float: left;
	margin-top: 3px;
}

#search-site-q img{
	padding-top: 3px;
	width: 30px;
	height: 30px;
	float:left;
}

#sidebar {
	width: 220px;
	height: 100%;
	border-radius: 5px;
	margin-top: 15px;
	padding-top: 30px;
	padding-bottom: 10px;
	float: left;
	background: #333333;
	margin-bottom: 10px;
}

.menu{
	margin-top: -20px;
	width : 180px;
	list-style: none;
	text-align: left;
}

.menu li{
	float: left;
	width: 100%;
}

.menu img{
	float: left;
	width: 20%;
	margin-top: 10px;
	margin-left: -30px;
	margin-right: 20px;
	width: 30px;'

}

.menu a{
	margin-left: -33px;
	margin-right: 8px;
	display : block;
	font-size : 13pt;
	color : white;
	background : #333333;
	height: 30px;
	text-decoration : none;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 20px;
}

.menu a:hover{
	/*border-right: 10px solid green;
	border-left: 10px solid green;
	background-color: #c8ced4;
	color: green;*/
	padding-left: 10px;
}

#btnCom{
	margin-left: -33px;
	margin-right: 8px;
	display : block;
	font-size : 13pt;
	color : white;
	background : #333333 url(../img/arrow.png) no-repeat 170px 20px;
	height: 30px;
	text-decoration : none;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 20px;
	cursor: pointer;
}

#btnCom:hover{
	/*border-right: 10px solid green;
	border-left: 10px solid green;
	background : #c8ced4 url(../img/arrow.png) no-repeat 160px 20px;
	color: green;*/
	padding-left: 10px;
}

.comunity{
	width: 180px;
	list-style: none;
	text-align: left;
	margin-top: -16px;
	clear: both;
}

.comunity a{
	margin-left: -33px;
	margin-right: 8px;
	display : block;
	font-size : 13pt;
	color : white;
	height: 30px;
	text-decoration : none;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 50px;
    /*background: #5F5F5F;*/
}

/*.comunity a:hover{
	margin-left: 40px;
	border-right: 10px solid green;
	border-left: 10px solid green;
	background-color: #c8ced4;
	color: green;
}*/

#content{
	margin: 1px auto;
	width: 75%;
	height: 100%;
	margin-left: 5px;
	float: left;
}


.isi{
	margin-top: 15px;
	padding: 10px;
	width: 98.5%;
	height: 100%;
	background: rgba(0, 56, 37, 0.4);
	opacity: 0.9;
	margin-bottom: 5px;
	border-radius: 5px;
	float: left;
}

#signUpForm form{
	margin-left: 50px;
}

#slideshow{
	background: grey;
	width: 100%;
	height: inherit;
	float: right;
}

h3{margin-top: 0px; }

#leftcontent {
	background-color:  rgba(0, 56, 37, 0.4);
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 10px;
	width: 42%;
	height: 100%;
	float: left;
	padding: 20px;
	border-radius: 5px;
	opacity: 0.8;
}

#rightcontent {
	background-color:  rgba(0, 56, 37, 0.4);
	margin-right: 5px;
	margin-top: 15px;
	margin-bottom: 10px;
	width: 42%;
	height: 100%;
	float: right;
	padding: 20px;
	border-radius: 5px;
	opacity: 0.8;
}

.hotitemnews{
	width: 100%;
	height: 100px;
	background:  rgba(10,40,20,0.7);
	margin: 10px 10px 10px 0px;
	position: inherit;
}

.hotitemnews a {
	color: orange;
}

.hotitemnews li{
	margin: 4px;
	color: white;
}

.hotitemnews img{
	float: left;
	margin: 5px 5px 5px 5px;
	width: 100px;
	height: 90px;
}

h4{ margin-top: 5px; margin-bottom: 0px; font-size: 13pt;}
h5{ margin: 0px; margin-left: 50px; font-style: italic;}

.hitem{
	margin-top: -50px;
	background-color: red;
	clear: both;
	margin-top: -100px;
}

#foto{
	float: right;
	margin: 5px;
	margin-left: -15px;
	margin-right: -15px;
}

#notificationLink{
	cursor: pointer;
	height: 30px;
	float: right;
	margin: 5px;
	margin-top: -7px;
	margin-left: -15px;
	margin-right: -5px;
}

.imagesos{
	float: left;
	width: 20px;
	margin-top: 18px;
	margin-left: 10px;
}
.imagesos #fb{
	padding-left: 220px;
}
.imagesos #ins{
	padding-left: 220px;
}
.imagesos #tw{
	padding-left: 220px;
}
.imagesos img{
	cursor: pointer;
   display: block;
   width: 20px;
   height: 20px;
   position: relative;
}

#footer {
	clear: both;
	background: #55B05A;
	height: 55px;
	padding-top: 1px;
	padding-bottom: 20px;
	margin-bottom: -10px;
	margin-left: -10px;
	text-align: center;
	color: white;
}

#footer a{
	color: white;
}

.eventContent{
	background: rgba(10,40,20,0.7);
	float: left;
	width: 97%;
	padding: 10px;
	margin-bottom: 10px;
}

.eventContent a{
	color: black;
}

.eventContent img{
	float: left;
	display: block;
	margin: 5px;
	border: red solid;
}

.eventContent span{
	font-size: 16pt;
	padding: 5px;
	color: white;
}

.eventContent li{
	margin-left: 200px;
	font-size: 11pt;
	color: white;
}

#contact table td{
	padding: 3px;
}

input[name=fullname],input[name=username],input[name=password],input[name=password2],input[name=email],input[name=address],input[name=age],input[name=regional],input[name=subject],input[name=captcha]{
	border-radius: 3px;
	border-style: none;
	height: 20px;
	width: 250px;

}
textarea{
	border-radius: 3px;
	border-style: none;
	width: 247px;
}

input[name=submit],input[name=reset],input[name=Submit],input[name=reset2]{
	border-radius: 3px;
	background: green;
	color: white;

}
input[class=button]{
	cursor: pointer;
}
.button{
	color: black;
	background: #55B05A;
	border-style: none;
	padding: 5px 20px 5px 20px;
	border-radius: 2px;
	margin-top: 10px;
}

h2 img{
	width: 30px;
	float: right;
	margin-right: 30px;
	margin-top: -10px;
}

#notificationContainer {

background-color: #fff;
border: 1px solid rgba(100, 100, 100, .4);
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
overflow: visible;
position: absolute;
top: 45px;
margin-left: 917px;
width: 400px;
z-index: 1;
display: none;
}

#notificationContainer:before {
content: '';
display: block;
position: absolute;
width: 0;
height: 0;
color: transparent;
border: 10px solid black;
border-color: transparent transparent white;
margin-top: -20px;
margin-left: 178px;
}

#notificationTitle {
z-index: 1000;
font-weight: bold;
padding: 8px;
font-size: 13px;
background-color: #ffffff;
width: 384px;
border-bottom: 1px solid #dddddd;
}

#notificationsBody {
padding: 33px 0px 0px 0px !important;
min-height:300px;
}
#notificationFooter {
background-color: #e9eaed;
text-align: center;
font-weight: bold;
padding: 8px;
font-size: 12px;
border-top: 1px solid #dddddd;
}

#notification_count {
padding: 3px 7px 3px 7px;
background: #cc0000;
color: #ffffff;
font-weight: bold;
margin-left: 35px;
border-radius: 9px;
position: absolute;
margin-top: -11px;
font-size: 11px;
}

.textinput{
	margin-left: 30px;
	width: 300px;
}


#status{
	margin-right: 20px;
}
#tweetForm {
background-color: #fff;
border: 1px solid rgba(100, 100, 100, .4);
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
overflow: visible;
position: absolute;
top: 200px;
margin-left: 40%;
width: 270px;
z-index: 1;
display: block;
}

#statusTitle {
z-index: 1000;
font-weight: bold;
padding: 8px;
font-size: 13px;
background-color: #ffffff;
width: 245px;
border-bottom: 1px solid #dddddd;
}

#statusBody {
padding: 3px 0px 0px 0px !important;
min-height:50px;
}

#statusFooter {
width: 328px;
background-color: #e9eaed;

}

input[id=statuspost]{
	border-style: none;
	background: green;
	border-radius: 5px;
	color: #FFFFCC;	
	width: 80px;
	height: 30px;
	cursor: pointer;
	float: right;
	margin-right:4px; 
	margin-bottom: 4px;
}

textarea[id=statuspost]{
	margin-left: 8px;
}

.fotoprofile{
	width: 250px;
	height: 300px;
	margin-left: 10px;
	border: 1px;
	float: left;
	border-style: solid 1px; 
}

.fotoprofile img{
	max-width: 100%;
	max-height: 100%;
}

.detailProfile{
	float: left;
	margin-left: 25px;
}

.detailProfile table td{
	padding: 4px 20px 4px 20px;
}

.pagination {
	display: inline-block;
	background: #55B05A;
	color: white;
	padding: 5px;

}

.eventContent .by{
	float: right;
	font-style: italic;
	font-size: 10pt;
}

.tblThread{
	border: 1px;
	width: 100%;
}

.trThread:hover{
	background: grey;
	color: white;
}

.dateThread{margin-top:	-10px; font-style: italic;}

.fotoBarang {
	width: 200px;
	height: 200px;
	margin-left: 10px;
	border: 1px;
	float: left;
	border-style: solid 1px; 
}

.fotoBarang img{
	max-width: 100%;
	max-height: 100%;
}

.detailBarang{
	float: left;
	margin-left: 25px;
}

.detailBarang table td{
	padding: 4px 20px 4px 20px;
}

.fotokeranjang img {
	width: 300px;
	float: left;
	margin: 10px;
}

.teman {
	float: left;
	margin: 10px;
	width: 200px;
	height: 250px;
	text-align: center;
}

.teman img {
	width: 100%;
	height: 85%;
	float: left;
}